@using KarkaShellCompany.Blazor.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager navigationManager
@inject IHttpContextAccessor httpContextAccessor

@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>        
        <button @onclick="Logout">Log out (@context.User.Identity?.Name)</button>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=@Uri.EscapeDataString(navigationManager.BaseUri)">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private static readonly Lock _lock = new();
    private static bool _isLoggingOut;

    private void Logout()
    {
        lock (_lock)
        {
            if (_isLoggingOut) return;
            _isLoggingOut = true;
        }

        var context = httpContextAccessor.HttpContext;
        if (context != null)
        {
            // Navigate to the logout endpoint
            navigationManager.NavigateTo("/logout", true);
        }
        _isLoggingOut = false;
    }
}